.main-div {
  color: whitesmoke;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#image-container {
  background-image: url("/images/car-rental-1.jpg");
  background-size: cover;
  height: 40%;
}

h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}